<h1>Lista de Tarefas</h1>
<hr>
<section id="tasks">
    <div class="card text-dark mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Cadastro de usuários </h5>
            <p class="mb-0"> Pendente </p>
        </div>
        
        <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, esse mollitia earum, illum aliquid molestiae, odio enim eligendi reiciendis corporis dolores ad consectetur fugiat amet voluptates qui cumque optio deleniti.</div>
        <div class="d-flex justify-content-between align-items-center p-3">
            <div class="d-flex flex-column text-center">
                <p class="mb-0">Data de Inicio:</p>
                <p class="mb-0">09/12/2024</p>
            </div>
            <div class="d-flex flex-column text-center">
                <p class="mb-0">Data de Encerramento:</p>
                <p class="mb-0">11/12/2024</p>
            </div>
        </div>
        
    </div>
</section>
<a href="{{URL}}/tasks/create">Crie sua tarefa</a>