<h1>{{name}}</h1>
<h4>{{description}}</h4>
Funcionalidades principais:
<ul> 1 - Gestão de Usuários:
    <li><ul>Cadastro de usuários com:</li>
        <li>Nome</li>
        <li>E-mail</li>
        <li>Senha (criptografada).</li>
    </ul>
    <li>Login e Logout (sessão deve ser gerenciada).</li>
    <li>Validação de e-mail e senha no login.</li>
</ul>

 <ul>2 - Gestão de Tarefas:
    <li>Cada usuário pode criar, visualizar, editar e excluir suas próprias
        tarefas.</li>
    <li><ul>Cada tarefa deve conter:</li>
        <li>Título</li>
        <li>Descrição</li>
        <li>Status (Pendente, Em Progresso, Concluída)</li>
        <li>Data de criação</li>
        <li>Data de conclusão (opcional).</li>
    </ul>
 </ul>
 <ul> 3 - Listagem de Tarefas:
    <li>Exibir as tarefas de um usuário autenticado em uma tabela.</li>
    <li>Permitir filtrar as tarefas por status.</li>
 </ul>



 

